.AR-lang #signUp .input-box{
    padding-right: 0px;
    padding-left: 20px;
}
.AR-lang #signUp .tel-box .prefix{
    margin-left: 17px;
    margin-right: 0px;
}
.AR-lang #signUp #separator hr{
    margin-left: 0;
    margin-right: 10px;
}
.AR-lang #signUp #separator hr:first-child{
    margin-right: 0;
    margin-left: 10px;
}